[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
pandas = "*"
selenium = "*"
bs4="*"
numpy="*"
dnspython="*"
djangorestframework = "*"
djongo = "*"
django-cors-headers = "*"
djangotoolbox = "*"

[requires]
python_version = "3.8"
